<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #4315A6">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{url_for('static', filename='images/AstroKnowLogo.png')}}" width="200" height="60" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse show" id="mainNavbar">
                <ui class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        {% if current_user.is_authenticated %}
                            <a class="navbar-brand" href="/logout">{{ current_user.name }} {{ current_user.lastname }},  {{ current_user.occupation }}</a>
                            <a href="/" class="btn btn-outline-light">Исследования</a>
                            <a href="/questions" class="btn btn-outline-light">Вопросы</a>
                        {% else %}
                            <p>
                                <a class="btn btn-outline-light" href="/register">Зарегистрироваться </a>
                                <a class="btn btn-outline-light" href="/login">Войти </a>
                            </p>
                        {% endif %}
                        <a href="/apod" class="btn btn-outline-light">Картинка дня</a>
                        <a href="/rover" class="btn btn-outline-light">Фото с марсохода</a>
                        {% if current_user.is_authenticated %}
                            <form action="/search" class="d-flex" type="search" method="POST">
                                <input class="form-control me-2" type="text" name="query" placeholder="Найдите космическую картинку">
                                <button class="btn btn-outline-light" type="submit">Поиск</button>
                            </form>
                        {% endif %}
                    </li>
                </ui>>
            </div>
        </div>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>