{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
{% for item in explorations%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        {{item.user.name}} {{item.user.lastname}}
        {{item.created_date}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
        <div>
            <a href="/explorations/{{ item.id }}" class="btn btn-primary">
                Изменить
            </a>
            <a href="/explorations_delete/{{ item.id }}" class="btn btn-primary">
                Удалить
            </a>
            <a href="/explorations_comments/{{ item.id }}" class="btn btn-primary">
                Комментарии
            </a>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}